POSTGRES_HOST=<somehost>
POSTGRES_PORT=<someport>
POSTGRES_DATABASE=<somedatabasename>
POSTGRES_USER=<someuser>
POSTGRES_PASSWORD=<somepass>
REDIS_PASSWORD=<somepass>
WHATSAPP_RECIPIENT_NUMBER=<some number>
WHATSAPP_PHONE_NUMBER_ID=<some id>
WHATSAPP_ACCESS_TOKEN=<some token>
GOOGLE_API_KEY=<somekey>
OPENAI_API_KEY=<somekey>
