POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

POSTGRES_TEST_HOST=
POSTGRES_TEST_PORT=

REDIS_PASSWORD=

WHATSAPP_RECIPIENT_NUMBER=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
VERIFY_TOKEN=

TELEGRAM_BOT_TOKEN=

GOOGLE_API_KEY=

GROQ_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=

SYSTEM_PROMPT_PATH=
LLM_MODEL=
PATIENT_REPORT_OUTPUT_PATH=
