POSTGRES_HOST=<somehost>
POSTGRES_PORT=<someport>
POSTGRES_DATABASE=<somedatabase>
POSTGRES_USER=<someuser>
POSTGRES_PASSWORD=<somepass>
REDIS_PASSWORD=<somepass>
WHATSAPP_RECIPIENT_NUMBER=<somenumberWithCountryCodeAtTheBeginning> # ex: 918272838827
WHATSAPP_PHONE_NUMBER_ID=<somenumberid>
WHATSAPP_ACCESS_TOKEN=<sometoken>
VERIFY_TOKEN=<WHATSAPP_WEBHOOK_VERIFY_TOKEN>
GOOGLE_API_KEY=<somekey>
GROQ_API_KEY=<somekey>
OPENAI_API_KEY=<somekey>
SYSTEM_PROMPT_PATH=<somepath>
LLM_MODEL=provider/model_name # ex: gemini/gemini-flash-3.1-lite
PATIENT_REPORT_OUTPUT_PATH=<somepath>
